``` 
# Fill all values before deploying

LANGCHAIN_PROJECT=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=
LANGCHAIN_TEST_TRACKING=

OPENAI_API_KEY=
GOOGLE_API_KEY=
DAYTONA_API_KEY=
FIRECRAWL_API_KEY=
GITHUB_APP_NAME=
GITHUB_APP_ID=
# App secret key. Should be multi-line.
GITHUB_APP_PRIVATE_KEY=

GITHUB_WEBHOOK_SECRET=
GITHUB_TRIGGER_USERNAME=

PORT=
OPEN_SWE_APP_URL=
SECRETS_ENCRYPTION_KEY=
SKIP_CI_UNTIL_LAST_COMMIT=

# OPEN_SWE_LOCAL_MODE=
# OPEN_SWE_LOCAL_PROJECT_PATH=

NEXT_PUBLIC_ALLOWED_USERS_LIST=

```